body {
  background-color: salmon;
}
h1 {
  color: red;
  font-family: verdana;
  font-size: 350%;
}
p {
  color: black;
  font-family: calibri;
  font-size: 150%;
  border: 1px dotted powderblue;
  outline: solid 10 px
  padding: 50px;
  margin: 25px;
}
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}